.item-card {
    transition-duration: all 5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .box {
    transition: all 2s;
} */

.item-card:hover {
    /* transform: scaleX(1.2); */
    transform: rotate(-20deg);
    background-color: aquamarine;
}

.box-title {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inner-box {
    width: 100px;
    height: 100px;
    /* background-color: brown; */
    transition: all 2s;
}

.inner-box:hover {
    /* transform: rotate(35deg); */

}